.App {
  display: flex;
  text-align: center;
  justify-content: center;
}

.items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
} 

.items li {
  padding: 0;
  width: 150px;
  height: 150px;
  background: red;
  display: flex;
  justify-content: center;
} 

.items li p {
  display: flex;
  align-self: center;
  color: white;
  font-size: 2rem;
} 